<header>
  <section class="nav-bar">
<!--    <div class="logo">
      <%=image_tag('logo-mascotag.png', class:'white-logo', height: '80', width: '400')%>
    </div>
-->
    <div class="login">
      <%= form_tag :action => :create do %>

        <%= text_field_tag(:user, params[:text], options = {:type => 'text', :placeholder => 'Usuario' })%>
        <%= password_field_tag(:password, params[:text], options = {:type => 'password', :placeholder => 'Contraseña' })%>
        <%= check_box_tag 'rememberme', false, :disabled => false%> <p class="remember">recordarme </p>

        <%= submit_tag '▶' %>

      <% end %>
      <div class="loginhelper">
        <a href="#">Olvide mi contraseña</a> / <a href="#">Registrarse</a>
      </div>
    </div>
  </section>
  <div class="hamburger">
  <p> ☰ </p>
  </div>
</header>

<section class="search-hero">
  <div class="container">
    <div class="inner">
      <%=image_tag('mascotag-blanco.png', class:'white-logo', width: '220')%>
      <div class="text">
        <p>Lorem ipsum dolor sit amet, laudantium optio deserunt dolorum veniam harum molestias deleniti! Numquam quaerat nemo cumque similique, earum dolorum.</p>
      </div>
      <div class="form">
        <%= form_tag({controller: "petinfo", action: "index"},method: "get", class: "search-form", autocomplete:"on") do %>
          <%= text_field_tag(:mascotag, params[:search_text], options = {:type => 'search', :autofocus => true, :placeholder => 'Ingresa tu código' })%>
          <%= submit_tag '▶'%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="social">
    <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
    <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
  </div>
</section>